@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div style="background-color: #F3F4F6; min-height: 100vh; display: flex; align-items: center; justify-content: center;">
    @Body
</div>
