{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}
{% block page_title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="panel-card">
            <form method="post">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12"><label class="form-label fw-semibold">Producto <span
                                class="text-danger">*</span></label>{{ form.producto }}</div>
                    <div class="col-md-6"><label class="form-label fw-semibold">Tipo <span
                                class="text-danger">*</span></label>{{ form.tipo }}</div>
                    <div class="col-md-6"><label class="form-label fw-semibold">Cantidad <span
                                class="text-danger">*</span></label>{{ form.cantidad }}</div>
                    <div class="col-12"><label class="form-label fw-semibold">Motivo <span
                                class="text-danger">*</span></label>{{ form.motivo }}</div>
                    <div class="col-12"><label class="form-label fw-semibold">N° Comprobante</label>
                        {{ form.comprobante }}
                    </div>
                </div>
                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-warning rounded-pill px-4" style="color:#fff;border:none;"><i
                            class="fa-solid fa-floppy-disk me-2"></i>Registrar</button>
                    <a href="{% url 'movimiento_lista' %}"
                        class="btn btn-outline-secondary rounded-pill px-4">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}